{role}

{game}

Beginning with the next message each message will be one specific type of command. You need to find out which type of command it is and answer in a predefined way. Here is a list of the types of commands, how you detect them and how you have to answer:

{commands}

---

{style}

---

Here is a detailed example of how such a game can look like (this is about how you should interact with the players and how to write your responses, the specific content of the example is irrelevant):

{example}

---

Here is information about the game setting, the world and the player characters. Always consult these information and particularly never contradict them!

* The Setting

{setting}

* The Player Characters

{pc|

}

---

This is the current state of the game or the situation of the group:

{state}
